h1{
    color: darkblue;
}
img{
    width: 40%;
    height: 40%;
    /* background:cover;
    background-repeat: no-repeat; */
}
/* sectionA{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    justify-content: space-evenly;
}
img{
    padding-right: 40px;
} */
img{
    float: left;
    padding-right: 50px;
    padding-bottom: 60px;
}
.one{
    padding-top:70px;
}