h1{
    color: darkblue;
}
img{
    width: 60%;
    height: 60%;
    /* background:cover;
    background-repeat: no-repeat; */
}
/* sectionA{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    justify-content: space-evenly;
}
img{
    padding-right: 40px;
} */
img{
    float: left;
    padding-right: 40px;
}