h1{
    color: darkblue;
}
img{
    width: 60%;
    height: 90%;
    /* background:cover;
    background-repeat: no-repeat; */
}
/* sectionA{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    justify-content: space-evenly;
}
img{
    padding-right: 40px;
} */

sectionA .one{
    padding-top: 0;
}
sectionA{
    padding-bottom:90px;
}

sectionB{
    display: flex;
    justify-content: space-between;
}
.hobbies{
    padding-left: 100px;
}


/* sectionB .one{
    /* float: bottom; */
    /* float: left;
    margin-left: 0px;
    padding-right: 10px;
    justify-content: space-around;
} */ 
sectionA {
    display: flex;
}
   /* padding:20px
} */
sectionA .one{
    padding-right: 10px;
}